<body class="picture">

  <body class = "log-in">
    <div class="log-in-form">

<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br/>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :goal %><br/>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :categories %><br/>
    <%= f.select :category_id,  options_for_select(@categories.collect{ |n| [n.name, n.id] }), :prompt => 'Select One' %>
  </div>

    <h3>Rewards</h3>
    <%= f.fields_for :rewards, @reward do |reward_fields| %>
      <div class = "field"><%= reward_fields.label :amount %>
        <%= reward_fields.number_field :amount %>
      </div>
      <div class = "field"><%= reward_fields.label :description %>
        <%= reward_fields.text_field :description %>
      </div>
    <% end %>

    <div class="actions"><br/>
    <%= f.submit class: 'btn btn-default'%>
    </div>

<% end %>
</body>
</div>

</body>
