<body class="picture">

  <body class = "log-in">
    <div class="log-in-form">

<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br/>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :goal %><br/>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br/>
    <%= f.text_field :photo %>
  </div>

  <div class="field">
    <%= f.label :categories %><br/>
    <%= f.select :category_id,  options_for_select(@categories.collect{ |n| [n.name, n.id] }), :prompt => 'Select One' %>
  </div>

  <body class="reward"

    <h3>Rewards</h3>
    <div id = 'rewards'>
      <%= f.fields_for :rewards do |reward| %>
        <%= render 'reward_fields', :f => reward  %>
      <% end %>
      <div class = 'links'>
        <!-- <#%= link_to_add_association 'add task', f, :rewards %> -->
      </div>
    </div>


      <%= f.submit 'Save' %>

  <% end %>

</body>
</div>

</body>
