<body class="people">
<p id="notice"><%= notice %></p>

<h1 id="title">Current Projects</h1>



  <div class="pull-right">
    <%= form_tag(projects_path, :method => "get", id: "", class: "")  do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by Name" %>
      <span class="actions"><%= submit_tag "Search", class: 'btn btn-default btn-sm'%></span>
    <% end %>
  </div>
<br/><br/>
    <div class="pull-right">
      <strong>Category: </strong>
      <button class="all-categories btn btn-default btn-sm">All</button>
    <% @categories.each_with_index do |category,index| %>
      <button class = 'category btn btn-default btn-sm' value = "<%= index + 1 %>" ><%= category.name %> </button>
    <% end %>
</div>




<table class="name table">
  <thead>

    <tr id="styling">
      <th >Name</th>
      <br>
      <th>Date</th>
      <th>Goal</th>
      <th>User</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>



<<<<<<< HEAD

  

=======
>>>>>>> master
  <tbody class = 'categories-table'>
  </tbody>

  <div class="blue">

  <tbody class = "all-projects-table-body">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to "#{project.name}", project_path(project)%></td>
        <td><%= project.date%></td>
        <td><%= project.goal %></td>
        <td><%= project.user.name %></td>
        <td><%= project.category.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Read More', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>


<% if current_user %>
<%= link_to 'New Project', new_project_path, class: 'btn btn-default btn-lg'%>
<% end %>
</body>
