<p id="notice"><%= notice %></p>

<header class="mainHeader">
    <nav>
      <ul>
      <button class = 'all-categories'> All Categories</button>
      <% @categories.each_with_index do |category,index| %>
        <button class = 'category' value = "<%= index + 1 %>" ><%= category.name %> </button>
      <% end %>
      </ul>
    </nav>
</header>



<h1>Current Crowfunder Projects</h1>


<h1>Projects</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Goal</th>
      <th>User</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="search">
    <%= form_tag(projects_path, :method => "get", id: "search-form", class: "form-group")  do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by Name" %>
      <span class="actions"><%= submit_tag "Search", class: 'btn btn-default btn-sm'%></span>
    <% end %>

  <tbody class = 'categories-table'>
  </tbody>

  <tbody class = "all-projects-table-body">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.date %></td>
        <td><%= project.goal %></td>
        <td><%= project.user.name %></td>
        <td><%= project.category.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
