<body class="picture">


<%= link_to 'Back to Projects', projects_path %>
<% if current_user == @project.id %>
| <%= link_to 'Edit Current Project', edit_project_path(@project) %>
<% end %>

<div class="container">

<div class="show">
<h1><%= @project.name %></h1>
<div id="expire">
<strong><%= Project.get_countdown_time(@project) %></strong>
</div>

            <div class='thumbnail'>
            <p>
              <strong>Project Started:</strong>
              <%= @project.date %></br>
            </p>

            <p>
              <strong>Fund Goal:</strong>
              <span id="goal"><%= @project.goal %></span>
            </p>

            <p>
              <strong>Project Creater:</strong>
              <%= @project.user.name %>
            </p>

            <p>
              <strong>Category:</strong>
              <%= @project.category.name %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @project.description %>
            </p>


            <p>
              <strong>Funding:</strong>
              <span id='funded'><%= @count %></span>
            </p>

          </div>
                <h4> Funded </h4>

              <div class="progress">
                <div class="progress-bar" id='progressbar' role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                  60%
                </div>

</div>

</div>
<br/><br/>


<div id="clickpledge">
<%= link_to 'Create pledge', new_project_pledge_path(@project), class: 'btn btn-success pledge-btn',remote: true, id: @project.id %>
<div id="pledge-form"></div>
<div id= 'pledge'> </div>
</div>
<div id = 'rewards'>
<% @rewards.each do |reward| %>
  <h3>Rewards</h3>
  <%= "Amount: #{reward.amount}" %> <br>
  <%= "description: #{reward.description}" %>
<% end %>
</div>

<div id = "comments">
<p>
  <h3>Comments:</h3>
<% @project.comments.each do |comment| %> 
  <p> 
  <%= comment.user.name %> <br>
  <%= comment.head %> :
  <%= comment.body %>
  </p>
<% end %>
</p>
</div>

<div id="clickcomment">
<%= link_to 'Add a comment', new_project_comments_path(@project), class: 'btn btn-success comment-btn',remote: true, id: @project.id %>
<div id="comment-form"></div>

</div>

</body>


