<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if current_user != nil %>
<% if current_user.id == @project.user_id %>

<%= link_to 'Edit', edit_project_path(@project) %>  |
<% end %>
<% end %>

<%= link_to 'Back', projects_path %>
<%= link_to 'Create pledge', new_project_pledge_path(@project) %>
