<%= link_to 'Back to Projects', projects_path %>
<% if current_user %>
| <%= link_to 'Edit Current Project', edit_project_path(@project) %>
<% end %>


<h1><%= @project.name %></h1>
<strong><%= Project.get_countdown_time(@project) %></strong>

<div class='thumbnail'>
<p>
  <strong>Project Started:</strong>
  <%= @project.date %></br>
</p>

<p>
  <strong>Fund Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Project Creater:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
</div>
<%= link_to 'Create pledge', new_project_pledge_path(@project), class: 'btn btn-success pledge-btn',id: @project.id %>
<div class='container' id='pledge-form'></div>
<!-- Temp fix adding reloading js as Js not loading properly when clicked her via show -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
