<p id="notice"><%= notice %></p>
<%= link_to 'Back to Projects', projects_path %>
<% if current_user %>
| <%= link_to 'Edit Current Project', edit_project_path(@project) %>
<% end %>


  <h1><%= @project.name %></h1>


<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<%= link_to 'Create pledge', new_project_pledge_path(@project), class: 'btn btn-success' %>
